{
    "extends": ["standard", "standard-react"],

    "plugins": [
        "react"
    ],
    "rules": {
        "react/jsx-no-bind": [1, {
            "ignoreRefs": true
        }],
        "react/jsx-no-literals": 2,
    }
}
