
@import "colors";

$icon-font-path: '../fonts/';
$grid-gutter-width: 20px;

@import "bootstrap/_variables.scss";

$list-group-active-border: $brand-primary;
$list-group-active-bg: lighten($brand-primary, 40%);
$list-group-active-text-color: $text-color;
$list-group-active-color: $list-group-active-text-color;

@import "bootstrap";

@import "/node_modules/openlayers/css/ol.css";

.ol-scale-line-nautical.ol-unselectable {
  margin-bottom: 25px;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #b5d0d0;
}
html, body, #map, .sidebar-map {
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12pt;
    line-height: 12pt;
    font-weight: normal;
}

.sidebar-header{
  margin-bottom: 10px;
  padding-left: 30px;
}
.sidebar-pane{
  padding-left: 5px;
  padding-right: 10px;
}

label {
  font-weight: normal;
}
